<div class="signup-box z-depth-2">
    <h6 id="signUpFail" ></h6>
    <h4>Create a Account</h4>

    <form class="signup-form" action="/members/new" method="POST">
        <div class="row">
            <div class="input-field col s12">
                <input id="name" name="name" type="text" class="validate">
                <label for="name">Username</label>
            </div>
        </div>


        <div class="row">
            <div class="input-field col s12">
                <input id="password" name="password" type="password" class="validate">
                <label for="password">Password</label>
            </div>
        </div>
        <input class="signup-btn waves-effect waves-light btn" type="submit" value="가입하기" />
    </form>

</div>