<!DOCTYPE html>
<!--<html xmlns:th="http://www.thymeleaf.org"-->
<!--      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">-->
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{thymeleaf/layout/default}"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
</head>


<body>
<div class="container">
    <div>
        <h1>Hello Spring</h1>

        <!--        <div sec:authorize="isAuthenticated()">-->
        <!--            <p th:text="|${username.username}님 환영합니다.|"></p>-->
        <!--            <p th:text="|현재 ${principal.username} 님의 권한 : ${role}|"></p>-->
        <!--            <ul>-->
        <!--                <li th:text="|session.getId = ${#session.getId()}|"></li>-->
        <!--                <li th:text="|session.getAttributeNames = ${#session.getAttributeNames()}|"></li>-->
        <!--                <li th:text="|session.getCreationTime = ${#session.getCreationTime()}|"></li>-->
        <!--            </ul>-->
        <!--        </div>-->

        <!--     <p th:text="|${token}|"></p>-->

        <div >
            <button onclick="pump()">pump</button>
        </div>


        <div sec:authorize="isAuthenticated()">
            <p th:text="|${userName}님 환영합니다.|"></p>
            <p th:text="|현재 ${userName} 님의 권한 : ${role}|"></p>
        </div>
        <div sec:authorize="hasRole('ROLE_ADMIN')">
            This content is only shown to administrators.
        </div>

        <div sec:authorize="hasRole('ROLE_USER')">
            This content is only shown to users.
        </div>

        <div sec:authorize="denyAll">
            deny
        </div>


        <p>회원 기능</p>
        <p>
            <a href="/members/new">회원 가입</a>
            <a href="/members">회원 목록</a>
        </p>


    </div>
</div> <!-- /container


   $(document).ready(function() {
               console.log("setup")
              $.ajaxSetup({
                headers: { 'token': localStorage.getItem("token") }
                });
            $.ajaxSetup({
    beforeSend: function(xhr) {
        xhr.setRequestHeader('x-my-custom-header', 'some value');
    }
});

    });





 -->
</body>

<script>




    function pump(){

                window.location.href = 'http://localhost:7000/pump/home';

    }







</script>


</html>
